<header class="_headers">
    <div class="_container">
        <div class="_headings">
            <a href="#" class="_logo"><img src="/svg/swiggy_logo.svg" alt="Swiggy"></a>
            <div class="_location">
                {{location_name}}
            </div>
            <ul class="_list">
                <li><a><i class="bi bi-bag"></i>Swiggy Corporate</a></li>
                <li><a><i class="bi bi-search"></i>Search</a></li>
                <li><a><i class="bi bi-percent"></i>Offers</a></li>
                <li><a><i class="bi bi-patch-question"></i>Help</a></li>
                <li><a><i class="bi bi-person"></i>Sign In</a></li>
                <li><a><i class="bi bi-cart"></i>Cart</a></li>
            </ul>
        </div>
    </div>
</header>