._headers{
    height: 70px;   
    width: 100vw;
    color: #3d4152;
    font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
    font-weight: 600;
}

._container{
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

._headings{
    display: flex;
    align-items: center;
    height: 100%;
}

._logo{ 
    width: 10%;
    display: flex;
    justify-content: center;
    transition: 0.3s;
}   

._logo:hover{
    transform: scale(1.2);
}

._location{
    width: 20%;
    text-decoration: underline;
}

._location a {
    display: flex;
    gap: 20px;
}

._location a:hover{
    color: #ff5200;
}

._location a i {
    color: #ff5200;
}

._list{
    width:70%;
    height: 100%;
}

._headings ul {
    display: flex;
    justify-content: space-between;    
    list-style: none;
    margin-bottom: 0px;
    align-items: center;
}

._headings ul li a {
    cursor: pointer;
    text-decoration:  none;
}

._headings ul li a:visited{
    color: #3d4152;
}

._headings ul li a i{
    padding-right: 10px;
}